@page "/"

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Buttons
@using CovidStatus.Shared.Entities
@using CovidStatus.Shared.Enum

@inherits CovidStatus.Server.Pages.Bases.CovidInformationBase

@if (SelectedCounty == null || CovidDataList == null)
{
    <h4>Loading...</h4>
}
else
{
    <div class="container">
        <div class="row justify-content-end">
            <div class="col rightAlignText">
                Last Update Date: @String.Format("{0:MMMM d, yyyy}", LastUpdateDate)
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-12 col-sm-12 col-md-6 col-lg-5">
                <SfDropDownList TValue="byte"
                                TItem="County"
                                Placeholder="Select County:"
                                FloatLabelType="@FloatLabelType.Auto"
                                AllowFiltering="true"
                                DataSource="@CountyList"
                                CssClass="e-bold-label"
                                Value="@DefaultCounty">
                    <DropDownListFieldSettings Text="CountyName" Value="CountyID"></DropDownListFieldSettings>
                    <DropDownListEvents TValue="byte" ValueChange="OnCountyChanged"></DropDownListEvents>
                </SfDropDownList>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <SfDropDownList TValue="int"
                                TItem="CriticalDay"
                                Placeholder="Days Moving Average:"
                                FloatLabelType="@FloatLabelType.Auto"
                                AllowFiltering="true"
                                DataSource="@CriticalDayList"
                                CssClass="e-bold-label"
                                Value="@DefaultCriticalDaysCount">
                    <DropDownListFieldSettings Text="CriticalDayCount" Value="CriticalDayCount"></DropDownListFieldSettings>
                    <DropDownListEvents TValue="int" ValueChange="OnCriticalDaysChanged"></DropDownListEvents>
                </SfDropDownList>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <h5>County:</h5>
                        <p class="boldFont">@SelectedCounty.CountyName</p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <h5>Population:</h5>
                        <p class="boldFont">@SelectedCounty.Population.ToString("N0")</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5>Current Risk Level Based On Cases Per 100k Population:</h5>
                        @if (@SelectedCounty.CurrentRiskLevel.RiskLevel == RiskLevel.Widespread)
                        {
                            <p class="roundedLabel widespreadBackgroundColor">Widespread</p>
                        }
                        else if (@SelectedCounty.CurrentRiskLevel.RiskLevel == RiskLevel.Substantial)
                        {
                            <p class="roundedLabel substantialBackgroundColor">Substantial</p>
                        }
                        else if (@SelectedCounty.CurrentRiskLevel.RiskLevel == RiskLevel.Moderate)
                        {
                            <p class="roundedLabel moderateBackgroundColor">Moderate</p>
                        }
                        else if (@SelectedCounty.CurrentRiskLevel.RiskLevel == RiskLevel.Minimal)
                        {
                            <p class="roundedLabel minimalBackgroundColor">Minimal</p>
                        }
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col d-flex justify-content-center centeredText">
                        <h5>@CriticalDaysMessage</h5>
                    </div>
                </div>
                <div class="row" style="background-color: #f9f9f9; border-radius: 15px;">
                    <div class="col">
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center centeredText">
                                <p class="boldFont">Cases per 100k population:</p>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center centeredText">
                                <p class="boldFont">Rate Change:</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center centeredText">
                                <p class="boldFont">@SelectedCounty.CriticalDaysMovingCasesPerOneHundredThousandAverage?.ToString("N2")</p>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center centeredText">
                                @if (SelectedCounty.CriticalDaysMovingRateChange > 0)
                                {
                                    <p class="boldFont" style="color: red"><i class="fas fa-arrow-up"></i> @SelectedCounty.CriticalDaysMovingRateChange?.ToString("P2")</p>
                                }
                                else if (SelectedCounty.CriticalDaysMovingRateChange < 0)
                                {
                                    <p class="boldFont" style="color: green"><i class="fas fa-arrow-down"></i> @SelectedCounty.CriticalDaysMovingRateChange.Value.ToString("P2")</p>
                                }
                                else
                                {
                                    <p class="boldFont">@SelectedCounty.CriticalDaysMovingRateChange?.ToString("P2")</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />        
        <div class="row">
            <div class="col">
                <p>For official county risk level visit the California COVID page: <a target="_blank" href="https://covid19.ca.gov/safer-economy/">COVID19.CA.GOV</a></p>
            </div>
        </div>
        <br />
        @if (SelectedCounty.RiskLevels != null)
        {
            <div>
                <div class="row">
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center centeredText">
                        <h5>Risk Level</h5>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center centeredText">
                        <h5>New Cases per 100k</h5>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center centeredText">
                        <h5>Estimated Qualified Date</h5>
                    </div>
                </div>
                <div class="row widespreadBackgroundLightColor centeredText riskLevelRow">
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center">
                        <p class="roundedLabel widespreadBackgroundColor">Widespread</p>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center">
                        More than @SelectedCounty.RiskLevels.FirstOrDefault(x => x.RiskLevel == RiskLevel.Widespread)?.RiskLelvelCasesMin
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center">
                        @SelectedCounty.RiskLevels.FirstOrDefault(x => x.RiskLevel == RiskLevel.Widespread)?.EstimateRiskLevelDateQualificationDisplay
                    </div>
                </div>
                <div class="row substantialBackgroundLightColor centeredText riskLevelRow">
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center">
                        <p class="roundedLabel substantialBackgroundColor">Substantial</p>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center">
                        @SelectedCounty.RiskLevels.FirstOrDefault(x => x.RiskLevel == RiskLevel.Substantial)?.RiskLelvelCasesMin - @SelectedCounty.RiskLevels.FirstOrDefault(x => x.RiskLevel == RiskLevel.Substantial)?.RiskLelvelCasesMax
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center">
                        @SelectedCounty.RiskLevels.FirstOrDefault(x => x.RiskLevel == RiskLevel.Substantial)?.EstimateRiskLevelDateQualificationDisplay
                    </div>
                </div>
                <div class="row moderateBackgroundLightColor centeredText riskLevelRow">
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center">
                        <p class="roundedLabel moderateBackgroundColor">Moderate</p>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center">
                        @SelectedCounty.RiskLevels.FirstOrDefault(x => x.RiskLevel == RiskLevel.Moderate)?.RiskLelvelCasesMin - @SelectedCounty.RiskLevels.FirstOrDefault(x => x.RiskLevel == RiskLevel.Moderate)?.RiskLelvelCasesMax
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center">
                        @SelectedCounty.RiskLevels.FirstOrDefault(x => x.RiskLevel == RiskLevel.Moderate)?.EstimateRiskLevelDateQualificationDisplay
                    </div>
                </div>
                <div class="row minimalBackgroundLightColor centeredText riskLevelRow">
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center">
                        <p class="roundedLabel minimalBackgroundColor">Minimal</p>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center">
                        Less than @SelectedCounty.RiskLevels.FirstOrDefault(x => x.RiskLevel == RiskLevel.Minimal)?.RiskLelvelCasesMax
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center">
                        @SelectedCounty.RiskLevels.FirstOrDefault(x => x.RiskLevel == RiskLevel.Minimal)?.EstimateRiskLevelDateQualificationDisplay
                    </div>
                </div>
            </div>
        }
        <br />
        <div class="row">
            <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                <h5>COVID Data</h5>
            </div>
            <div class="col-6 col-sm-6 col-md-10 col-lg-10 d-flex justify-content-end">
                <SfButton OnClick="ExcelExport" Content="Excel Export"></SfButton>
            </div>
        </div>
        <br />
        <div class="row" style="padding-bottom: 20px">
            <div class="col">
                <SfGrid @ref="CovidDataGrid" DataSource="@CovidDataList" AllowPaging="true" AllowTextWrap="true" AllowExcelExport="true" AllowResizing="true">
                    <GridPageSettings PageSize="@CriticalDaysCount"></GridPageSettings>
                    <GridColumns>
                        <GridColumn Field=@nameof(CovidData.ID) IsPrimaryKey="true" Visible="false" HeaderText="Data ID" Width="120"></GridColumn>
                        <GridColumn Field=@nameof(CovidData.County) Visible="false" HeaderText="County Name" Width="120"></GridColumn>
                        <GridColumn Field=@nameof(CovidData.Date) Format="d" HeaderText="Date" Width="100"></GridColumn>
                        <GridColumn Field=@nameof(CovidData.NewCountConfirmed) HeaderText="New Count Confirmed" Width="100"></GridColumn>
                        <GridColumn HeaderText="@CriticalDaysMessage">
                            <GridColumns>
                                <GridColumn Field=@nameof(CovidData.CriticalDaysMovingAverage) Format="N2" HeaderText="Cases" Width="100"></GridColumn>
                                <GridColumn Field=@nameof(CovidData.CriticalDaysMovingCasesPerOneHundredThousand) Format="N2" HeaderText="Cases Per 100k Population" Width="100"></GridColumn>
                                <GridColumn Field=@nameof(CovidData.CriticalDaysMovingRateChange) Format="P2" HeaderText="Rate Change" Width="100"></GridColumn>
                            </GridColumns>
                        </GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
        </div>
        <div style="padding-top: 10px; padding-bottom: 20px;">
            Disclaimer: This website is not affiliated to the California government or any health organization. The information shown here is not approved by the State or Health Officials in the state of California.
        </div>
    </div>
}